{% extends 'base.html' %}

{% block app_content %}
    <div class="container-fluid">
        <div class="row text-center">
            <h1>Welcome to SAT GAME!</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bg-success">
                <a href="{{ url_for('match') }}">Matching Game</a>
                <div class="card text-center" style="width: 18rem;">
                <img src="https://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Matching Game</p>
                </div>
            </div>
            </div>
            <div class="col-md-4 text-center bg-danger">
                <a href="{{ url_for('choice') }}">Choice</a>
            </div>
            <div class="col-md-4 text-center bg-warning">
                <a href="{{ url_for('definition') }}">Definition</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}